<!doctype html>
<html lang="en" ng-app="xmlYmlConvertApp">
<head>
  <meta charset="utf-8">
  <title>Convert XML (xliff) Symfony2 translations files to YAML</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/artichaud/artichaud.css">
  <link rel="stylesheet" href="css/artichaud/artichaud.form.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/js-yaml.min.js"></script>
  <script src="js/controllers.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-52546783-1', 'auto');
    ga('send', 'pageview');
  
  </script>
</head>
<body ng-controller="TextToConverCtrl">
  <div class="inner">
    <h1>Convert XML (xlf) Symfony2 translations files to YAML</h1>

    <label for="toConvert">Paste XML content to convert :</label>
    <textarea id="toConvert" name="toConvert" ng-model="toConvert" ng-change="convert()"></textarea>

    <label for="converted">YAML Result :</label>
    <textarea id="converted" name="converted" ng-model="converted" readonly>
    </textarea>

    <footer>
      <p>Realised by <a href="http://twitter.com/GoZOo">GoZ</a> with AngularJS, <a href="https://github.com/nodeca/js-yaml">JS-YAML</a> and <a href="https://github.com/thomaslebeau/artichaut">Artichaud</a></p>
      <p><a href="https://github.com/GoZOo/Symfony2-XML-translations-to-YAML/">Convert XML (xliff) Symfony2 translations files to YAML on Github</a></p>
    </footer>
  </div>
</body>
</html>
