<!doctype html>
<html lang="en" ng-app="xmlYmlConvertApp">
<head>
  <meta charset="utf-8">
  <title>Convert XML (xliff) Symfony2 translations files to YAML</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/js-yaml.min.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="TextToConverCtrl">
  <h1>Convert XML (xlf) Symfony2 translations files to YAML</h1>

  <label for="toConvert">Paste XML content to convert :</label>
  <textarea id="toConvert" name="toConvert" ng-model="toConvert" ng-change="convert()"></textarea>

  <label for="converted">YAML Result :</label>
  <textarea id="converted" name="converted" ng-model="converted" readonly>
  </textarea>

  <footer><p>Realised by <a href="http://twitter.com/GoZOo">GoZ</a> with AngularJS and <a href="https://github.com/nodeca/js-yaml">JS-YAML</a></p></footer>
</body>
</html>
